// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn{
  display: inline-block;
  height: 5px;
  width: 5px;
  background: #e7e7e4;
  border: solid;
  color: white;
  text-align: center;
  font: arial;
  
}